.card-with-margin {
    margin: 10px;
}
.image-container {
    max-height: 100vh; 
    overflow: hidden; 
    background: white;
  }
.flexible{
  max-width: 100%;
  max-height: 100vh; /* Set a maximum height to fit the viewport height */
  height: auto;
  width: auto;
}
img {
max-width: 100%;
max-height: 100vh; /* Set a maximum height to fit the viewport height */
height: auto;
width: auto;
}
