:host {
	display: block;
	position: relative;
	height: 100%;
}

.editor-import-overlay {
	background-color: gray;
	opacity: 50%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.editor-import-overlay-hidden {
	display: none;
}

.monaco-editor {
	height: 100%;
	z-index: 0;
}
