.first-third, .second-third, .third-third {
	width: calc(100% / 3);
}

.first-third {
	display: flex;
	align-items: center;
}

.second-third {
	display: flex;
	justify-content: center;
}

.third-third {
	display: flex;
	justify-content: end;
}

.toolbar-menu-icon {
	margin-right: 0.5rem;
}

.toolbar-project-name {
	font-size: large;
	font-weight: normal;
}

.toolbar-title {
	font-size: 1.625rem;
}
