:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.body {
	flex-grow: 1;
}

.menu {
	min-width: 20rem;
}

.menu-container {
	height: 100%;
}

.preview-area {
	background-color: white;
}
