<app-header
	[project]="selectedProject"
	(generate)="generate()"
	(toggleMenu)="menuEnabled = !menuEnabled"/>

<mat-sidenav-container class="menu-container">
	<mat-sidenav class="menu" [(opened)]="menuEnabled">
		<project-list
			[projects]="projects"
			(create)="handleProjectCreate($event)"
			(select)="handleProjectSelect($event)"/>
	</mat-sidenav>

	<mat-sidenav-content>
		<as-split class="body">
			<as-split-area [size]="50">
				<editor [project]="selectedProject" #editor/>
			</as-split-area>

			<as-split-area class="preview-area" [size]="50">
				<app-preview [project]="selectedProjectForVisualization"/>
			</as-split-area>
		</as-split>
	</mat-sidenav-content>
</mat-sidenav-container>
